# IDE workspace file (not needed in repo)
QuickPasta.code-workspace

# Local profile definitions created by the manager
profiles.json

# Confidential artifacts
Confidential

# 7-Zip Download folder
7Zip

#Loggin
quickpasta.log